{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="register">
        <h1 class="register-title">Register</h1>
        <br>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        <br>
        {# {{ form_row(registrationForm.agreeTerms) }} #}

            <button type="submit" class="btn button is-danger">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
