{% for outing in outings  %}
    <li>
        <div class="list-ligne-1">
            <a href="{{ path('app_detail',{'id':outing.id}) }}">{{ outing.name }}</a>
            <p>0 / {{ outing.registrationMaxNb }}    <i class="fa fa-user icon-participants"></i></p>
        </div>
        <div class="list-ligne-2">
            <p>Starting date : {{ outing.startDateTime | date ("d-m-Y h:m") }}</p>
            <p>{{ outing.state }}</p>
        </div>
        <br>
        <div class="list-ligne-3">
            <p class="list-author"> Created by :{{ outing.author }}</p>
        </div>
    </li>
    <br>
    <hr class="ligne-separation">
    <br>
{% else %}
    <p>Nothing to show sorry ! =(</p>
{% endfor %}