{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="alert-login-div">
            <p class="alert-login">
                Please log in to get acces to this page !
            </p>
            <br>
            <a href="{{ path('app_login') }}"><button class="button is-danger is-rounded alert-login">Log in</button></a>
        </div>
    {% endif %}
    {% if app.user %}
        <div class="detail-div" xmlns="http://www.w3.org/1999/html">
                <h2>{{ outing.name }}</h2>
                <p> Campus : {{ outing.campus.name }}</p>
                <p class="outing-credit">Created by {{  outing.author }}
                    on {{ outing.dateCreated | date('Y-m-d') }}.
                </p>
                <div>{{ outing.outingInfo | nl2br }}</div>

                {%  if app.user.username not in outing.participants %}
                    {% if outing.participants|length < outing.registrationMaxNb %}
                        <a href="{{ path('app_outing_registration', {'outing': outing.id}) }}"><button class="button is-danger is-rounded">Register</button></a>
                    {% endif %}
                {% endif %}

                {% if app.user.username in outing.participants %}
                    <a href="{{ path('app_outing_unregistration', {'outing': outing.id}) }}"><button class="button is-danger is-rounded">Unregister</button></a>
                {% endif %}

            </div>
    {% endif %}
{% endblock %}
