{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="detail-div">
        <div class="list-and-title">
            <h1 class="list-title">All events</h1>
            <div>
                <p>Filter :</p>
                <form id="filters">
                    {% for campu in campus %}
                        <p><input type="checkbox" name="campus[]" id="camp{{ campu.id }}" value="{{ campu.id }}">
                        <label for="camp{{ campu.id }}">{{ campu.name }}</label></p>
                    {% endfor %}
                </form>
            </div>
            <br>
            <div class="list scroll scroll5">
                <ul id="content">
                    {% include "outing/_content.html.twig" %}
                </ul>
            </div>
        </div>
    </div>

{#        {% if app.user %}#}
{#            <li>#}
{#                <a class="" href="{{ path('app_modifyouting') }}">Modify your outing</a>#}
{#            </li>#}
{#        {% endif %}#}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}


