{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    {% if not app.user %}
        <div class="alert-login-div">
            <p class="alert-login">
                Please log in to get acces to this page !
            </p>
            <br>
            <a href="{{ path('app_login') }}"><button class="button is-danger is-rounded alert-login">Log in</button></a>
        </div>
    {% endif %}

    {% if app.user %}
    <div class="detail-div">
        <p class="profil">Name : {{ app.user.name }}</p>
        <p class="profil">FirstName : {{ app.user.firstname }}</p>
        <p class="profil">UserName : {{ app.user.username }}</p>
        <p class="profil">Email : {{ app.user.email }}</p>
        <p class="profil">Phone : {{ app.user.phone }}</p>
    </div>
    {% endif %}
    {% if app.user %}
        <div class="button-profil">
            <a href="{{ path('app_modifyprofil') }}"><button class="header-nav-option button is-danger "> Modify Profile</button>
            </a>
        </div>
    {% endif %}

{% endblock %}


