{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    <div class="detail-div">
        <p class="profil">Name : {{ app.user.name }}</p>
        <p class="profil">FirstName : {{ app.user.firstname }}</p>
        <p class="profil">UserName : {{ app.user.username }}</p>
        <p class="profil">Email : {{ app.user.email }}</p>
        <p class="profil">Phone : {{ app.user.phone }}</p>
    </div>

    {% if app.user %}
        <div class="button-profil">
            <button class="header-nav-option button is-danger " href="{{ path('app_modifyprofil') }}">Modify Profile</button>
        </div>
    {% endif %}

{% endblock %}


