<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="">
    <link rel="stylesheet" href="">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ebc72dbf59.js" crossorigin="anonymous"></script>
    {% block css %}{% endblock %}
    <title>
        {% block title %}
          {{ 'Welcome'}}  Sortir
        {% endblock %}
    </title>
</head>
<body>
<header>
    <div class="container header-div">
        <h1 class="header-logo">
            <a class="header-a" href="{{ path('app_main') }}">
                <img src="{{ asset('img/logobis.png') }}" alt="logo">
                Hang Out App
            </a>
        </h1>
        <a href="https://www.eni-ecole.fr"><img class="logo-Eni" src="{{ asset('img/logoENI.png') }}"></a>
    </div>
    <nav class="header-nav">
        <a class="header-nav-option" href="{{ path('app_main') }}">Home</a>

            {% if not app.user %}
                    <a class="header-nav-option" href="{{ path('app_login') }}">Login</a>
            {% endif %}

            {% if app.user %}
                <a class="header-nav-option" href="{{ path('app_profil') }}">Profil</a>
            {% endif %}

            {% if app.user %}
                <a class="header-nav-option" href="{{ path('app_create') }}">Create an event !</a>
            {% endif %}

            {% if app.user %}
                <a class="header-nav-option" href="{{ path('app_list') }}">All Events</a>
            {% endif %}

        <a class="header-nav-option" href="{{ path ('app_search') }}">Find Campus ?</a>

            {% if app.user %}
                <a class="header-nav-option" href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
    </nav>
</header>
<main class="main">
    <div class="border main-body left">
    </div>
    <div class="container ">
        {% block body %}{% endblock %}
    </div>
    <div class="border main-body right">
    </div>
</main>
{% include 'fragments/_footer.html.twig' %}
</body>
</html>
