<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="">
    <link rel="stylesheet" href="">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block css %}{% endblock %}
    <title>
        {% block title %}
          {{ 'Welcome'}}  Sortir
        {% endblock %}
    </title>
</head>
<body>
<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('app_main') }}">
                <img src="{{ asset('img/logo.png') }}" alt="logo">
                Sortir
            </a>
        </h1>
    </div>
    <nav class="header-nav">
        <a class="header-nav-option" href="{{ path('app_main') }}">Home</a>
        {% if not app.user %}
                <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
        {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
    </nav>
</header>
<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
{% include 'fragments/_footer.html.twig' %}
</body>
</html>
